{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<h2>{{ user }}'s Portfolio</h2>
<p><strong>Current Balance: </strong>{{ cash | usd}}</p>
<p><strong>Grand Total: </strong>{{ total | usd}}</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Stocks</th>
            <th scope="col">Shares</th>
            <th scope="col">Price per Share</th>
            <th scope="col">Total Value</th>
        </tr>
    </thead>
    <tbody>

    {% for i in range(0,length) %}
        <tr>
            <td>{{ stocks[i].symbol.upper() }}</td>
            <td>{{ stocks[i].shares }}</td>
            <td>{{ prices[stocks[i]['symbol']]['price'] | usd }}</td>
            <td>{{ (prices[stocks[i]['symbol']]['price'] * stocks[i].shares) | usd }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}